h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #490b3d
}

h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #490b3d
}

p, ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #490b3d
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color:#490b3d;
    border-spacing: 0 2px;
}

#päis {
    background-color: #f1b814;
}

td {
    font-weight:300;
}

img {
    border: 2px solid #490b3d;
    
}

body {
    background-color: #fff9ee;
}

.rida {
    display:flex
}

.tulp {
    flex:50%
}